@media  screen and  (max-width: 1065px){
.gridtext2{
font-size:70px;
}
}   
@media screen and (max-width: 860px){
    .gridtext2{
        font-size:40px;  
    }
}
@media screen and (max-width: 650px){
    .cont ul li a{
        width: 50%;
    }
}
@media screen and (max-width: 860px){
.gridtext1{
    display: none;
}
}
@media screen and (max-width: 1065px){
nav{
    width: 100%;
    align-items: center;
}
}